
<div class="bg-light d-flex justify-content-center align-items-center vh-100 no-scroll">

    <div class="auth-container">
        <h3 class="text-center mb-4">Login</h3>
        <form id="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control rounded-pill" id="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="mb-1">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control rounded-pill" id="password" placeholder="Digite sua senha"
                    required>
            </div>
            <div class="mb-3">
                <input type="checkbox" class="mb-2" onclick="togglePass()"> Mostrar Senha
            </div>

            <button type="submit" class="btn btn-success p-2 w-100 rounded-pill">
                <i class="fa-solid fa-lock-open me-2"></i>Autenticar
            </button>
        </form>

        <p class="text-center mt-3 no-link">
            <a href="#">Esqueceu a senha?</a>
        </p>
        <p class="text-center mt-3 no-link">
            Não tem uma conta? <a href="/register">Cadastre-se</a>
        </p>
    </div>
</div>


<script>
    function togglePass() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>