<div class="sidebar no-link" id="sidebar">
  <a href="/admin"><i class="fa fa-home me-2"></i> Início</a>
  <a href="/admin/author"><i class="fa-solid fa-users me-2"></i>Autor</a>
  <a href="/admin/categories"><i class="fa fa-list me-2"></i> Categorias</a>
  <a href="/admin/news"><i class="fa-solid fa-newspaper me-2"></i> Notícias</a>
  <a href="/admin/categories/new"><i class="fa fa-chart-line me-2"></i> Estatísticas</a>
  <a href="#"><i class="fa fa-cog me-2"></i> Configurações</a>
  <a href="#"><i class="fa-solid fa-users me-2"></i> Usuários</a>
  <a href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Sair</a>
</div>