<!--menu navbar-->
{{>navbar }}


<!--main content -->
<div class="content mt-5" id="content">

    <div class="mb-3">
        <span class="content-title">
            {{>page_title}}
        </span>
    </div>
    <hr>

    {{#if error.length}}
    <div class="mb-3 alert alert-danger" role="alert">
        {{error}}
    </div>
    {{else}}
    {{#if message.length}}
    <div class="mb-3 alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    {{/if}}


    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-12 p-5">
                <div class="auth-container">


                    <form method="POST" action="/admin/category/add">
                        <div class="mb-3">
                            <label for="name" class="form-label">Categoria</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="Categoria">
                        </div>
                        <input type="hidden" id="slug" name="slug">
                        <button type="submit" class="btn btn-success rounded-pill px-3"> <i class="fa-solid fa-plus me-"></i>
                            <span>Guardar</span> </button>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>




<script>

    document.addEventListener("DOMContentLoaded", function () {
        const categoryNameInput = document.getElementById("name");
        const categorySlugInput = document.getElementById("slug");

        categoryNameInput.addEventListener("input", function () {
            let slug = categoryNameInput.value
                .toLowerCase()
                .normalize("NFD").replace(/[\u0300-\u036f]/g, "") // Remove acentos
                .replace(/\s+/g, "-") // Substitui espaços por hífens
                .replace(/[^a-z0-9-]/g, "") // Remove caracteres especiais
                .replace(/-+/g, "-") // Substitui múltiplos hífens por um único
                .trim();

            categorySlugInput.value = slug;
        });
    });

</script>