<!--menu navbar-->
{{> navbar }}

<!--main content-->

<div class="content" id="content">

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4">Últimas Notícias</h2>
        </div>

        <div class="col-md-6">
            <h4 class="mt-4 text-end">Bem-vindo, {{user.first_name}} {{user.last_name}}!</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-news">
                <img src="assets/images/slide01.jpg" class="card-img-top" alt="Imagem Notícia">
                <div class="card-body">
                    <h5 class="card-title">Título da Notícia</h5>
                    <p class="card-text">Descrição breve da notícia...</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-news">
                <img src="assets/images/slide01.jpg" class="card-img-top" alt="Imagem Notícia">
                <div class="card-body">
                    <h5 class="card-title">Título da Notícia</h5>
                    <p class="card-text">Descrição breve da notícia...</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-news">
                <img src="assets/images/slide01.jpg" class="card-img-top" alt="Imagem Notícia">
                <div class="card-body">
                    <h5 class="card-title">Título da Notícia</h5>
                    <p class="card-text">Descrição breve da notícia...</p>
                    <a href="#" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
    </div>
</div>