    <!--Início do Carousel-->
<div class="carousel-container mt-2">
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div> <!-- Adiciona uma camada escura -->
                <img src="assets/images/slide01.jpg" class="d-block w-100" alt="Notícia 1">
                <div class="carousel-caption d-none d-md-block align-items-center">
                    <h2>Notícia Principal</h2>
                    <p>Resumo da notícia mais importante do dia.</p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="overlay"></div>
                <img src="assets/images/slide02.jpg" class="d-block w-100" alt="Notícia 2">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Última Atualização</h2>
                    <p>Confira os detalhes das últimas atualizações.</p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="overlay"></div>
                <img src="assets/images/slide03.jpg" class="d-block w-100" alt="Notícia 3">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Destaque Internacional</h2>
                    <p>As notícias mais relevantes do mundo.</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>
</div>





<!-- Conteúdo da página -->
<div class="col bg-white container-fluid">
<div class="row mt-5  justify-content-center">
    <div class="container">

        <div class="row py-4">
            <div class="col-md-8">
                <h1 class="text-warning">Seja bem-vindo à CodeMinds</h1>
                <p class="lead mt-3">
                    Esta é uma simples demonstração de uma aplicação Node.js com Express e Bootstrap.
                    <br>
                    Para mais informações, acesse <a class="link-none-decoration text-warning"
                        href="https://nodejs.org/">https://nodejs.org/</a> e <a
                        class="link-none-decoration text-warning"
                        href="https://getbootstrap.com/">https://getbootstrap.com/</a>.
                </p>
                <button type="button" class="btn btn-lg btn-warning mb-3">Clique aqui</button>
            </div>
            <div class="col-md-4 align-items-center">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque neque praesentium reprehenderit quibusdam magnam iusto at ex consequatur voluptate non voluptatem culpa, totam voluptatibus quaerat quo? Minus sit labore sapiente?</p>
            </div>
        </div>
    </div>

</div>
</div>

<!-- Seção de Destaques -->

<div class="row bg-light text-dark">
    <div class="container py-3">
        <h2 class="mb-4">Destaques</h2>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <img class="img-fluid" src="assets/images/slide01.jpg" class="card-img-top" alt="Notícia 1">
                    <div class="card-body">
                        <h5 class="card-title">Título da Notícia 1</h5>
                        <p class="card-text">Resumo da notícia em poucas palavras...</p>
                        <a href="#" class="btn btn-primary">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="img-fluid" src="assets/images/slide02.jpg" class="card-img-top" alt="Notícia 2">
                    <div class="card-body">
                        <h5 class="card-title">Título da Notícia 2</h5>
                        <p class="card-text">Resumo da notícia em poucas palavras...</p>
                        <a href="#" class="btn btn-primary">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="bg-primary mb-5">
    <div class="container text-center text-light  py-5">
        <h1>Transformando Ideias em Soluções Tecnológicas</h1>
        <p>Conecte sua empresa ao futuro com soluções inovadoras e escaláveis.</p>
        <a href="#" class="btn btn-lg btn-outline-warning"> Solicite um Orçamento</a>
    </div>
</section>
